<% content_for :title do %><%= t('admin.edit comment') %><% end %>

<h2><%= t('admin.edit comment') %></h2>

<%= form_for @comment, url: admin_comment_path(@comment), class: 'form-horizontal' do |f| %>

  <div class="form-group">
    <%= f.label :author, class: 'control-label' %>
    <%= f.text_field :author, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'control-label' %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url, class: 'control-label' %>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, class: 'control-label' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <%= f.submit t('admin.save'), class: 'btn btn-primary' %>
  <%= link_to t('admin.cancel'), admin_comments_path, class: 'btn btn-default' %>

<% end %>
