<% content_for :title do %><%= t('admin.comments') %><% end %>
  <h2><%= t('admin.comments') %></h2>

  <div class="comments">
    <%= form_tag admin_batch_action_path, class: 'container' do %>
    <% @comments.each do |c| %>
      <%= render 'comment', c: c, p: c.post %>
      <% end %>

      <p>
        <%= submit_tag t('admin.delete'), name: 'delete', class: 'btn btn-default', data: {confirm: t("admin.are you sure")} %>
        <%= submit_tag t('admin.show'), name: 'show', class: 'btn btn-default' %>
        <%= submit_tag t('admin.hide'), name: 'hide', class: 'btn btn-default' %>
      </p>
    <% end %>
  </div>

  <%= will_paginate @comments, renderer: BootstrapPagination::Rails, next_label: '»', previous_label: '«' %>
