<% content_for :title do %><%= t("comments.new comment for") %> <%= @post.subject %><% end %>
<% index ||= false %><article>
  <%= render 'posts/post_header', p: @post, subject_add: t("comments.new comment for") %>

  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <% if params[:preview] %>
    <%= render 'comment', c: @comment, p: @post %>
  <% end %>

  <%= render "form", p: @post %>

</article>
