<h2><%= t('admin.media') %></h2>

<table class="table table-condensed table-striped table-hover">
  <tr>
    <th><%= t('admin.name') %></th>
    <th><%= t('admin.url') %></th>
    <th><%= t('admin.mime type') %></th>
    <th> </th>
  </tr>

  <% @media.each do |m| %>
    <tr>
      <td><%= m.name %></td>
      <td><%= link_to m.url, medium_path(slug: m.url) %></td>
      <td><%= m.media_type %></td>
      <td>
        <%= link_to '', admin_medium_path(m), method: :delete, data: {confirm: t('admin.are you sure')}, class: 'glyphicon glyphicon-trash' %>
      </td>
    </tr>
  <% end %>
</table>

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails, next_label: '»', previous_label: '«' %>
