<% content_for :title do %><%= t('admin.new medium') %><% end %>

<h2><%= t('admin.new medium') %></h2>

<%= form_for @medium, url: admin_media_path do |f| %>
  <%= render 'form', f: f %>

  <p>
    <%= f.submit t('admin.save'), class: 'btn btn-primary' %>
    <%= link_to t('admin.cancel'), admin_posts_path, class: 'btn btn-default' %>
  </p>

<% end %>
