  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h4><% t('admin.posts.error_message', errors_count: pluralize(@post.errors.count, t("global.error"), t('global.errors'))) %>:</h4>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label :subject, class: 'control-label' %>
  <%= f.text_field :subject, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :slug, class: 'control-label' %>
  <%= f.text_field :slug, class: 'form-control' %>
</div>

<div class="form-group">
  <label class="control-label" for="tags"><%= t('admin.tags') %> (<%= t('admin.comma separated list') %>)</label>
  <%= text_field_tag 'tags', (@post.tags.map {|t| t.tag_name}).join(', '), class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :post_format, class: 'control-label' %>
  <div class="radio">
    <label><%= f.radio_button :posting_format, 'html' %> <%= t('admin.html') %></label>
  </div>
  <div class="radio">
    <label><%= f.radio_button :posting_format, 'markdown' %> <%= t('admin.markdown') %></label>
  </div>
</div>

<div class="checkbox">
  <%= f.label :visible, class: 'control-label' %>
  <%= f.check_box :visible %>
</div>

<div class="form-group">
  <%= f.label :excerpt, class: 'control-label' %>
  <%= f.text_area :excerpt, class: 'form-control' %>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :content, class: 'control-label' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="col-md-6">
    <label class="control-label"><%= t('admin.preview') %></label>
    <div id="preview"></div>
  </div>
</div>


<script>
 var tm;
 $("#post_content").elastic();

 $("#post_content").on('keyup', function() {
   var format = $("[name='post[posting_format]']:checked").val();

   if(tm) {
     window.clearTimeout(tm);
   }
   tm = window.setTimeout(function() {
     var val = $("#post_content").val();

     if(format == 'markdown') {
       val = markdown.toHTML(val);
     }

     $("#preview").html(val);
     SyntaxHighlighter.all();
   }, 800);
 });

 $("#post_subject").on('change', function() {
   var val = $(this).val();
   if($("#post_slug").val() == "") {
     $("#post_slug").val(URLify(val, val.length));
   }
 });

</script>
