<h2><%= t('admin.edit post', subject: @post.subject) %></h2>

<%= form_for @post, url: admin_post_path(@post) do |f| %>
  <%= render 'form', f: f %>

  <p>
    <%= f.submit t('admin.save'), class: 'btn btn-primary' %>
    <%= link_to t('admin.cancel'), admin_posts_path, class: 'btn btn-default' %>
  </p>

<% end %>
