<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p class="form">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </p>

  <p class="form">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <% if devise_mapping.rememberable? -%>
    <p class="form">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render "devise/shared/links" %>
