<%= form_for @comment, url: post_url(p), id: "new-comment" do |f| %>
  <h3>Your Comment</h3>
  <p>You can use <a href="http://en.wikipedia.org/wiki/Markdown">MarkDown</a> to format your comment: *Word* for <em>italic</em>, **Word** for <strong>bold</strong>, images will get removed.<br>
    <%= f.text_area :content, rows: 15, cols: 70 %>
  </p>
  <p id="metadata"><% if @captcha then %><input type="hidden" name="question" value="<%= @captcha[:num] %>"><% end %>
    <%= f.label :author %> <%= f.text_field :author, required: true %><br>
    <%= f.label :email %> <%= f.email_field :email %><br>
    <%= f.label :url %> <%= f.url_field :url %>
  </p>

  <% if @captcha then %><p>Because of massive spam attacks you may only post if you can answer the following question: <label for="answer"><%= @captcha[:q] %></label><br><input type="text" name="answer" id="answer" value="<%= @captcha[:answer] %>"></p><% end %>

  <p>
    <input type="checkbox" name="cookiesave" id="cookie" value="yes"<%if @new_comment_cookiesave %> checked="checked"<%end%>> <label for="cookie">Save data in a cookie</label><br>
    <input type="checkbox" name="preview" id="preview" value="yes"<% if @preview %> checked="checked"<% end %>> <label for="preview">Preview</label>
  </p>

  <p><input type="submit" value="Save Comment" id="comment_form"></p>
<% end %>
