<% index ||= false %><article>
  <%= render 'post_header', p: p %>

  <%= p.content.html_safe %>

  <% if index %>
  <details class="trenner" open><%= link_to p.comments.length.to_s + " comments", comments_url(p) %></a></details>
  <% else %>
  <section id="comments">
    <% if @pingbacks and !@pingbacks.empty? then %>
      <header><h3><%= pluralize(@pingbacks.length, t('global.pingbacks'), t("global.ingbacks")) %></h3></header>
      <ol id="pingbackslist">
        <% @pingbacks.each do |p| %>
          <li><a href="<%= p[:uri] %>"><%== p[:desc] %></a></li>
        <% end %>
      </ol>
    <% end %>

    <header>
      <h3><%= pluralize(p.comments.visibles.length, t('global.comment'), t('global.comments')) %></h3>
      <!-- details open><%# t('global.comment feed') %>: <%# link_to t('global.rss'), feed_url(:rss) %> / <%# link_to t('global.atom'), feed_url(:atom) %></details -->
    </header>

    <% p.comments.visibles.order('created DESC').each do |c| %>
      <%= render 'comments/comment', c: c, p: p %>
    <% end %>

    <% if p.attrs['comments'] != 'disabled' and p.blog.attrs['comments'] != 'disabled' %><%= render 'comments/form', p: p %><% end %>

  </section>
  <% end %>

</article>
