<p><%= t('devise_views.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise_views.someone has requested a link to change your password. you can do this through the link below') %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('devise_views.if you didnt request this please ignore this email') %></p>
<p><%= t('devise_views.your password wont change until you access the link above and create a new one') %></p>
