<%= content_for :title do %><%= t('admin.blogs') %><% end %>

<h2><%= t('admin.blogs') %></h2>

<table class="table table-striped table-hover">
  <thead>
    <th><%= t('activerecord.attributes.blog.name') %></th>
    <th><%= t('activerecord.attributes.blog.keywords') %></th>
    <th><%= t('activerecord.attributes.blog.lang') %></th>
    <th><%= t('activerecord.attributes.blog.url') %></th>
    <th><%= t('activerecord.attributes.blog.host') %></th>
    <th><%= t('activerecord.attributes.blog.image_url') %></th>
    <th> </th>
  </thead>

  <tbody>
    <% @blogs.each do |b| %>
      <tr>
        <td><%= b.name %><br><%= b.description %></td>
        <td><%= b.keywords %></td>
        <td><%= b.lang %></td>
        <td><%= b.url %></td>
        <td><%= b.host %></td>
        <td><%= b.image_url %></td>
        <td>
          <%= link_to '', admin_blog_path(b), method: :delete, data: {confirm: t('admin.are you sure')}, class: 'glyphicon glyphicon-trash' %>
          <%= link_to '', edit_admin_blog_path(b), class: 'glyphicon glyphicon-pencil' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
