<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><% if content_for?(:title) %><%= content_for(:title) %> - <% end %><% if @blog %><%= @blog.name %><% else %><%= t('global.who_knows_wayne') %><% end %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <%= stylesheet_link_tag    "application", media: "all",   "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "print",       media: "print", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= feed_url(:rss) %>">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="<%=feed_url(:atom) %>">

    <link rel="shortcut icon" href="/favicon.png">

    <meta name="description" content="<% if @post and not @post.excerpt.blank? %><%= @post.excerpt %><% else %><% if @blog %><%= @blog.description %><% else %><%= t('global.who_knows_wayne') %><% end %><% end %>">
    <meta name="keywords" content="<% if content_for?(:keywords) %><%= content_for(:keywords) %> <% end %><% if @blog and not @blog.keywords.blank? %><%= @blog.keywords %><% else %>wayne, ck, christian, kruse<% end %>">
  </head>

  <body>
    <nav id="sidebar"><a href="#menu"><%= t('global.jump to menu') %></a></nav>

    <header>
      <h1><a title="<%= t('global.back to start page') %>" href="<%= root_url %>"><% if @blog then %><%= @blog.name %><% else %><%= t('global.who_knows_wayne') %><% end %></a></h1>
    </header>

    <div id="main">
      <% flash.each do |name,msg| %>
        <div class="alert-<%= name == :notice ? "success" : "error" %>">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  <nav id="menu">
    <h2><%= t('global.menu') %></h2>

    <div id="container">
      <footer>
        <h3><%= image_tag "about.png", alt: t('global.about this site') %></h3>
        <p><%= t('global.subjects_for_wayne').html_safe %></p>
        <p><% if @blog %><%= t('global.disfigured_by', email: link_to(@blog.author.name, "mailto:" + @blog.author.email)).html_safe %> <% end %><%= t('global.burp_used').html_safe %></p>
        <p><%= link_to "RSS", feed_url(:rss) %> / <%= link_to "Atom", feed_url(:atom) %></p>
      </footer>

      <section id="last">
        <h3><%= image_tag "last.png", alt: t("global.last posts") %></h3>

        <ul>
          <% if @last_four.blank? %>
            <li class="no-data"><%= t('global.no posts yet') %></li>
          <% end %>
          <% @last_four.each do |p| %>
            <li><%= link_to p.subject, post_url(p) %><% unless p.comments.blank? %><%= link_to "(#{p.comments.length})", comments_url(p), class: "comments", title: t("global.to the comments") %><% end %> <%= l(p.published_at.to_date) %></li>
          <% end %>
        </ul>
      </section>

      <section id="archives">
        <h3><%= image_tag "archive.png", alt: t("global.archive") %></h3>

        <h4><label for="month"><%= link_to t('global.month'), archive_path %></label></h4>
        <form action="<%= archive_path %>" method="get">
          <p><select id="month" name="month_year"><% @arc_months.each do |m| %>
            <option value="<%= m.arc_mon %>"><% d = Date.parse("#{m.arc_mon}-01") %><%= l(d, format: "%B %Y")  %></option>
            <% end %></select>
            <input class="menu-submit" type="image" src="<%= image_path "revolver.png" %>" title="<%= t("global.go") %>" alt="<%= t("global.go") %>" name="go-month">
          </p>
        </form>

        <h4><%= link_to t("global.tags"), tags_path %></h4>
        <form method="get" action="<%= tags_path %>">
          <p><select id="tags" name="tag">
            <% @all_tags.each do |t| %><option value="<%= t.tag_name %>"><%= t.tag_name %></option><% end %>
          </select>
          <input class="menu-submit" type="image" src="<%= image_path "revolver.png" %>" title="<%= t("global.go") %>" alt="<%= t("global.go") %>"></p>
        </form>

        <h4><%= t("global.search") %></h4>
        <form method="get" action="https://www.google.de/search">
          <p><input class="menu-search" type="text" name="as_q" value="">
            <input type="hidden" name="as_sitesearch" value="<% if @blog %><%= @blog.url %><% else %>http://wer.kennt-wayne.de/<% end %>">
            <input class="menu-submit" type="image" src="<%= image_path "revolver.png" %>" title="<%= t("global.search_go") %>" alt="<%= t("global.search_go") %>"></p>
        </form>
      </section>

    </div>
    <br class="clearfix">
  </nav>

  </body>
</html>
